body {
	padding-top: 65px;
}

div.navbar .navbar-inner {
	background: none;
	border: 0;
	background: url(../img/bg-menu.jpg) repeat;
}

div.navbar .navbar-inner a {
	text-shadow: none;
}

div.navbar div.navbar-inner ul li a {
	padding: 32px 15px 33px;
	font-size: 16px;
	opacity: 1;
	color: #d4d4d4;
}

div.navbar div.navbar-inner ul li a:hover {
	background: none;
	color: #fff;
}

div.navbar div.navbar-inner ul li.active a {
	background: rgba(255,255,255,0.4);
	border: 0;
	color: #fff;
}

div.navbar .brand {
	font-size: 35px;
	color: #fff;
}