body {
	padding: 0px;
	font-size: 14px;
}

.page-header h1{
	color: #0e4680;
}

header {
	padding: 50px 20px;
	border: 0;
	border-bottom: 1px solid #dedede;
}

section {
	padding-top: 30px;
}

pre.prettyprint {
	background: #fff;
	padding: 10px 5px;
	border: 1px solid #d8d8d8;
	font-size: 15px;
}

div.affix {
	top: 60px;
}

@media (max-width: 767px) {
	div.affix {
		top: 0;
		position: relative;
	}
}

footer {
	padding: 30px 20px;
}